body {
  margin: 0;
}

.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
  background: linear-gradient(180deg, rgba(44,51,99,1) 0%, rgba(68,0,172,1) 100%);
}

header { 
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.stars {
  transform: translateZ(-25px) scale(3.5);
}

.moon {
  transform: translateZ(-20px) scale(3);
}

.mountians {
  transform: translateZ(-15px) scale(2.5);
}

h1 {
  transform: translateZ(-10px) scale(2);
  font-family: 'Kdam Thmor Pro', sans-serif; 
  font-size: 18rem;
  color: darkblue;
  text-shadow: 0 0 10px whitesmoke;
  z-index: -3;
}

.trees {
  transform: translateZ(-5px) scale(1.5);
}

.stars,
.moon,
.mountians,
.trees {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

section {
  font-size: 2rem;
  padding: 2rem;
  background-color: darkblue;
}


/*Navbar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: gray;
}

h2 {
  font-family: 'Kdam Thmor Pro', sans-serif; 
  font-size: 8rem;
  text-align: center;
}