html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
  background: linear-gradient(180deg, rgba(44,51,99,1) 0%, rgba(68,0,172,1) 100%);
}

header { 
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.stars {
  transform: translateZ(-25px) scale(3.5);
}

.moon {
  transform: translateZ(-20px) scale(3);
}

.mountians {
  transform: translateZ(-15px) scale(2.5);
}

h1 {
  transform: translateZ(-10px) scale(2);
  font-family: 'Kdam Thmor Pro', sans-serif; 
  color: rgba(44,51,99,1);
  text-shadow: 0 0 10px whitesmoke;
  z-index: -3;
  font-size: 20vw;
}

.trees {
  transform: translateZ(-5px) scale(1.5);
}

.stars,
.moon,
.mountians,
.trees {
  position: absolute;
  height: auto;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

section {
  font-size: 2rem;
  padding: 2rem;
  background: linear-gradient(180deg, rgba(44,51,99,1) 0%, rgba(68,0,172,1) 100%);
  height: auto;
  width: auto;
}


/*Navbar*/
.nav {
  overflow: hidden;
  background-color: #4361EE;
  font-family: 'Kdam Thmor Pro', sans-serif; 
  border-radius: 7px;
  box-shadow: 0 0px 15px blue;
}

.nav a {
  float: left;
  display: block;
  color: #4A4A4A;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover {
  background-color: blue;
  color: black;
}

.nav a.active {
  background-color: rgb(15, 27, 102);
  color: white;
}

.nav .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). 
Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .nav a:not(:first-child) {display: none;}
  .nav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. 
This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .nav.responsive {position: relative;}
  .nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
} 